<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TitleGenie.ai </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<header class="header">
    <div class="logo">TitleGenie</div>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
        <span>&#127769</span>
    </div>
</header>

<body>

    <div class="main-line">
        <h1>Free AI-Powered YouTube Title Generator</h1>
        <p>Generate AI-powered YouTube titles to increase your views and reach.</p>
    </div>
    <div class="container">
        <h1>TitleGenie.ai</h1>
        <form method="post" id="titleForm">
            {% csrf_token %}
            <label for="description">Enter Your Video Description:</label><br><br>
            <textarea name="description" id="description" class="text-box" placeholder="Type your video description here..."></textarea><br>
            <input type="submit" value="Generate Title">
            <div class="loading">
                <div class="spinner"></div>
                <div>Generating...</div>
            </div>
        </form>

        <div id="generatedTitle" class="result-box"></div>
        <i id="copyIcon" class="copy-icon fas fa-copy" data-clipboard-target="#generatedTitle" title="Copy to Clipboard"></i>
        <div id="copyFeedback" class="copy-feedback">Title copied to clipboard!</div>
    </div>

    <div>
        <h3 id="why">Why choose TitleGenie.ai?</h3>
    </div>

    <div class="features-container">
        <div class="feature">
            <i class="fas fa-lightbulb"></i>
            <h3>AI-Powered Titles</h3>
            <p>Our advanced AI generates catchy titles in seconds.</p>
        </div>
        <div class="feature">
            <i class="fas fa-clock"></i>
            <h3>Save Time</h3>
            <p>No more brainstorming for hours. Get titles instantly!</p>
        </div>
        <div class="feature">
            <i class="fas fa-chart-line"></i>
            <h3>Boost Engagement</h3>
            <p>Catchy titles lead to more clicks and views.</p>
        </div>
    </div>

    <hr>
    <div class="viewline">
        <p>"A catchy title can help you to hook more viewers"</p>
    </div>
    <hr>
    <div class="steps-container">
        <h2>How to Use TitleGenie</h2>
        <div class="step">
            <span class="step-number">1</span>
            <p>Enter your video description in the text box above. Be as detailed as possible for the best results.</p>
        </div>
        <div class="step">
            <span class="step-number">2</span>
            <p>Click the <strong>"Generate Title"</strong> button. TitleGenie will analyze your description and create a catchy title.</p>
        </div>
        <div class="step">
            <span class="step-number">3</span>
            <p>Copy the generated Title and use it for your YouTube video. You can also tweak it to make it even better!</p>
        </div>
    </div>

    <hr>
    <div>
        <section class="use-cases">
            <h2>Use Cases for YouTube Title Generator</h2>
            <div class="cards-grid">
                <div class="card">
                    <h3>Vloggers</h3>
                    <p>Generate catchy titles for your vlogs to attract more views and subscribers.</p>
                </div>
                
                <div class="card">
                    <h3>Educational Content Creators</h3>
                    <p>Create engaging titles for your videos to help people find your content.</p>

                </div>
                
                <div class="card">
                    <h3>Product Reviewers</h3>
                    <p>Craft compelling titles for your product review videos to grab the attention of  buyers.</p>
                </div>
            </div>
        </section>
    </div>
    <hr>
    <div class="supercharge-section">
        <h2>Ready to supercharge your social media?</h2>
        <a href="#" class="cta-button">Start For Free </a>
        <p style="margin-top: 20px; color: #666;"> More Free Tools Soon</p>
    </div>
    <hr>

    <div class="tips-container">
        <h2>Tips for writing a Great Description</h2>
        <ul>
            <li>Be clear and concise. Describe your video in a few sentences.</li>
            <li>Include keywords that your audience might search for.</li>
            <li>Highlight the main points or takeaways from your video.</li>
            <li>Use action words to make your description more engaging.</li>
        </ul>
    </div>

    <!-- Dark/Light Mode Toggle -->
    
    
    


    <script>
        // Initialize Clipboard.js
        var clipboard = new ClipboardJS('#copyIcon');

        clipboard.on('success', function(e) {
            var copyFeedback = document.getElementById('copyFeedback');
            copyFeedback.style.display = 'block';
            setTimeout(() => copyFeedback.style.display = 'none', 2000);
            e.clearSelection();
        });

        clipboard.on('error', function(e) {
            console.error('Error copying text: ', e);
        });

        document.getElementById('titleForm').onsubmit = function(event) {
            event.preventDefault();
            var description = document.getElementById('description').value;
            var submitButton = document.querySelector('input[type="submit"]');
            var loadingSpinner = document.querySelector('.loading');
            var generatedTitle = document.getElementById('generatedTitle');
            var copyIcon = document.getElementById('copyIcon');

            submitButton.disabled = true;
            loadingSpinner.style.display = 'flex';
            generatedTitle.style.display = 'none';
            copyIcon.style.display = 'none';

            fetch("{% url 'generate_title' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `description=${encodeURIComponent(description)}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.generated_title) {
                    generatedTitle.innerText = data.generated_title;
                    submitButton.disabled = false;
                    loadingSpinner.style.display = 'none';
                    generatedTitle.style.display = 'block';
                    copyIcon.style.display = 'block';
                } else {
                    throw new Error('Title generation failed');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                submitButton.disabled = false;
                loadingSpinner.style.display = 'none';
                generatedTitle.style.display = 'none';
                copyIcon.style.display = 'none';
                alert('Error generating title. Please try again.');
            });
        };

        // Get the toggle checkbox and body element
        const toggleSwitch = document.querySelector('#checkbox');
        const body = document.body;

        // Check localStorage for theme preference
        const currentTheme = localStorage.getItem('theme');
        if (currentTheme) {
            body.classList.add(currentTheme);
            if (currentTheme === 'dark-mode') {
                toggleSwitch.checked = true;
            }
        }

        // Function to switch themes
        function switchTheme(e) {
            if (e.target.checked) {
                body.classList.add('dark-mode');
                localStorage.setItem('theme', 'dark-mode');
            } else {
                body.classList.remove('dark-mode');
                localStorage.setItem('theme', 'light-mode');
            }
        }

        // Event listener for toggle switch
        toggleSwitch.addEventListener('change', switchTheme);

        //footer
    
        







        
        


    </script>

</body>
<footer>
    <div class="logo">TitleGenie</div>
    
    <p>&copy; 2025 TitleGenie.ai . All rights reserved.</p>
    <div class="social-links">
        <a href="https://github.com/dhanushpavann" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/dhanush-pavan/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://x.com/dhanushpavann" target="_blank"><i class="fab fa-x"></i></a>
        <a href="https://facebook.com/yourprofile" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
</footer>
</html>